
div.calculadora {
    width: 150px;
    background-color: green;
    padding: 4px;
}
div.pantalla {
    width: 100%;
    height: 25px;
    background-color: rgb(200, 200, 200);
    border: white solid 1px;
    text-align: right;
    overflow: hidden;
    padding: 0 5px;
}
div.boton{
    width: 25%;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: white;
    background-color: rgb(83, 83, 83);
    text-align: center;
    margin-bottom: 0px;
    cursor: pointer;
    border: white solid 1px;
}

div.botonera {
    display: flex;
    flex-wrap: wrap;
}