
.vermell {
  color: red;
}

.verd {
  color: green;
}

.blau {
  color: blue;
}
body {
  padding: 100px;
}

div.barra {
  width: 200px;
  height: 40px;
}


div.bolax {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

div.bolax.rojo {
  background-color: red;
}

div.bolax.verde {
  background-color: green;
}