

div.bolabingo {
    width: 40px;
    height: 40px;
    background-color: blue;
    display: inline-block;
    margin: 5px;
    border-radius: 100%;
    color: white;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
}